# SPDX-License-Identifier: Apache-2.0
# Keep the build context (and the image) free of caches, secrets and docs.
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.env
.env.*
*.md
tests/
**/tests/
.git/
.gitignore
.dockerignore
Dockerfile
